<div class="banner">
  <div class="container">
    <div class="card">
      <%= cl_image_tag(@cocktail.photo,
      width: 400, height: 300, crop: :fill) %>

  <h2><%= @cocktail.name %></h2>
  <ul>
    <% @cocktail.doses.each do |dose| %>
    <li><%= dose.description %>  <%= dose.ingredient.name %> <%= link_to "Delete", dose_path(dose), method: :delete, data: {confirm: "Are you sure?"} %>
    </li>

    <% end %>
  </ul>
    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit "Add", class: "btn btn-success" %>
    <% end %>

    </div>
  </div>
</div>
  <ul>
    <li><%= link_to "Add Ingredients" , new_cocktail_dose_path(@cocktail) %>
    </li>
    <li><%= link_to "Back", cocktails_path %>
    </li>
  </ul>
